@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;     
}
body{
    font-family: 'inter', sans-serif;
    margin: 0 auto;
    @apply max-w-[1440px]
}
.menu .bar{
    @apply w-5 h-[0.15rem] transition-all duration-500 bg-black
}
.menu.active .bar1 {
    transform: rotate(46deg);
    transform-origin: 0 100%;
    translate: 10% -10%;
}
.menu.active .bar2 {
    opacity: 0;
}
.menu.active .bar3 {
    transform: rotate(-46deg);
    translate: -2% -270%;
}
nav{
    @apply hidden 
}
nav.active{
    animation: showMenu 0.5s forwards;
    @apply flex absolute bg-black bg-opacity-85 w-full left-1/2 -translate-x-1/2 rounded-sm z-0 h-[95vh];
}
nav.active ul{
    @apply flex flex-col gap-6 mx-auto h-fit w-full py-6 items-center text-white sm:text-black
}
@keyframes showMenu {
    0%{
        opacity: 0;
        top: -500%;
    }
    100%{
        opacity: 1;
        top: 47px;
    }  
}